body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;1,200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.navbar-brand{
font-size: 1.9rem !important;
color: #7b76ca !important;

}
.active-menu{
  font-weight: bold;
  border-bottom: 1px solid #7b76ca!important;
  color:#7b76ca!important ;
}
.btn-started{
padding: 10px 30px;
border-radius: 25px;
border: 2px solid rgb(80, 187, 151);
text-decoration: none!important;
color: #565387;
font-size: 18px;
transition: 0.5s;
}
.btn-started:hover{
  background-color:rgb(80, 187, 151) ;
  color: white;
}

strong{
  color: rgb(80, 187, 151);
}
.home {
  padding-top: 150px;
}
.animated{
width: 100%;
height: auto;
  animation: mymove 1s ease-in-out infinite alternate-reverse both;
}
h2{
  font-size: 24px;
}

@-webkit-keyframes mymove {
  0% {transform:translateY(10px)}
  100% {transform:translateY(-10px)}
}

@keyframes mymove {
  0% {
    transform:translateY(10px);
  }
  100% {
    transform:translateY(-10px);
  }
}
.card-img-top{
  height: 200px;
  width: 100%;
}
.nav-link:hover{
  color:rgb(80, 187, 151)!important ;
}
label{
  color: rgb(141, 135, 135);
}
input{
  margin-bottom: 15px!important;
}
h1{
  font-size: 50px!important;
}

footer p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;

}

@media screen and (max-width:428px) {
  .navbar-brand{
    font-size: 1.1rem !important;
    color: #7b76ca !important;
    
    }

    .navbar-toggler {
      padding: 0.20rem 0.25rem!important;
      font-size: 1.25rem}
}